*{
    font-family: "Work Sans";
}
.btn-primary{
    text-align: center;
}
header{
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}
nav{
    display: flex;
    justify-content: space-between;
    /* background-color: lightblue; */
}
nav>ul{
    display: flex;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
    margin-right: 30px;
}
.navtitle{
    font: size 2.8rem;
    
}
.bannerTitle{
    text-align: center;
}
.banner-content{
    max-width: 800px;
    text-align: center;
    margin:0 auto;

}
/* main style start  */
main{
    max-width: 1400px;
    margin: 0 auto;
}
.team{
    display: flex;
    align-items: center;
}
.team>div{
    width: 50%;
    height: 50%;
    

}
img{
    width: 100%;
}
.image-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}

.content-title{
    font-weight: 500;
    font-size: 1.8rem;
}
.Quick-list{
    color: #727272;
}
.Features{
    color: #FF900E;
    font-weight: 700;
}
.content-right-side{
    padding-left: 20px;
    justify-content: center;
    
}
.content-info{
    font-size: 1.2rem;
    text-align: justify;
    
    

}
/* main section style end  */